@model  List<Projects_Cls>

<section class="projects-section text-white py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="display-5 fw-bold">Projects</h2>
            <p class="lead">Some of My Work</p>
        </div>

        <div class="row g-4">
            <!-- مشروع 1 -->
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="card bg-dark text-white h-100 shadow-sm">
                        <img src="@item.ImagePath" class="card-img-top project-img" alt="S.O.L.I.D Principles">
                        <div class="card-body">
                            <h5 class="card-title">@item.ProjectName</h5>
                            <p class="card-text">@item.Description</p>
                            <span class="badge bg-warning text-dark">@item.ProgrammingLanguage</span>
                            <span class="badge bg-secondary">@item.Category</span>
                        </div>
                    </div>
                </div>
            }

            
          
        </div>
    </div>
</section>